<a href="https://colab.research.google.com/github/tomasz-soltysiak/NLP_IndianLanguage/blob/master/NLP_Nueral_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import matplotlib.patches as mpatches
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import RobustScaler, StandardScaler
from sklearn.model_selection import train_test_split,StratifiedKFold
from sklearn.manifold import TSNE
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import cross_val_score
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score,roc_curve,confusion_matrix,roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import re

In [4]:
df_train=pd.read_csv('/content/tamil_movie_reviews_train.csv',delimiter=',')
df_train.head()

   ReviewId                                      ReviewInTamil  Rating
0       408  தமிழ் சினிமாவில் ஒரு சிலர் மட்டுமே பணம், பிஸின...    4.00
1       107  கரு : சினிமா படப்பிடிப்புகளில் வெளிச்சம் பாய்ச...    2.00
2       319  தமிழ் சினிமாவில் தற்போது நாயகர்களுக்கு இணையாக ...    3.25
3       484  உலக அளவில் அனைத்து தரப்பினரையும் தன் நடிப்பால்...    2.25
4       204  கரு : வில்லனின் கையாள் , வில்லன் செய்த நம்பிக்...    3.00

In [21]:
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
#stop_words = set(stopwords.words('')) 
porter=PorterStemmer()
lemmatizer = WordNetLemmatizer()
def clean_text(text):
    text = re.sub(r'[^\w\s]','',text, re.UNICODE)
    text = text.lower()
    text = [porter.stem(word) for word in text]
    #text = [lemmatizer.lemmatize(token) for token in text]
    #text = [lemmatizer.lemmatize(token, "v") for token in text]
    #text = [word for word in text if not word in stop_words]
    #text = " ".join(text)
    return text

df_train['ReviewInTamil1'] = df_train.ReviewInTamil.apply(lambda x: clean_text(x))
df_train.head()

   ReviewId  ...                                     ReviewInTamil1
0       408  ...  [த, ம, ி, ழ, ்,  , ச, ி, ன, ி, ம, ா, வ, ி, ல, ...
1       107  ...  [க, ர, ு,  , :,  , ச, ி, ன, ி, ம, ா,  , ப, ட, ...
2       319  ...  [த, ம, ி, ழ, ்,  , ச, ி, ன, ி, ம, ா, வ, ி, ல, ...
3       484  ...  [உ, ல, க,  , அ, ள, வ, ி, ல, ்,  , அ, ன, ை, த, ...
4       204  ...  [க, ர, ு,  , :,  , வ, ி, ல, ், ல, ன, ி, ன, ், ...

[5 rows x 4 columns]

In [24]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.layers import Dense , Input , LSTM , Embedding, Dropout , Activation, GRU, Flatten
from keras.layers import Bidirectional, GlobalMaxPool1D
from keras.models import Model, Sequential
from keras.layers import Convolution1D
from keras import initializers, regularizers, constraints, optimizers, layers
max_features = 6000
tokenizer = Tokenizer(num_words=max_features)
tokenizer.fit_on_texts(df_train['ReviewInTamil1'])
list_tokenized_train = tokenizer.texts_to_sequences(df_train['ReviewInTamil1'])

maxlen = 130
X_train = pad_sequences(list_tokenized_train, maxlen=maxlen)
y_train = df_train['Rating']

embed_size = 128
model = Sequential()
model.add(Embedding(max_features, embed_size))
model.add(Bidirectional(LSTM(32, return_sequences = True)))
model.add(GlobalMaxPool1D())
model.add(Dense(20, activation="relu"))
model.add(Dropout(0.05))
model.add(Dense(1, activation="sigmoid"))
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mse'])
batch_size = 100
epochs = 3
model.fit(X_train,y_train, batch_size=batch_size, epochs=epochs, validation_split=0.2)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 384 samples, validate on 96 samples
Epoch 1/3
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

384/384 [==============================] - 3s 9ms/step - loss: 5.7443 - mean_squared_error: 5.7443 - val_loss: 5.6109 - val_mean_squared_error: 5.6109
Epoch 2/3
384/384 [==============================] - 1s 3ms/step - loss: 5.6522 - mean_squared_error: 5.6522 - val_loss: 5.5087 - val_mean_squared_error: 5.5087
Epoch 3/3
384/384 [==============================] - 1s 3ms/step - loss: 5.5367 - mean_squared_error: 5.5367 - val_loss: 5.3631 - val_mean_squared_error: 5.3631